@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-image: url('../images/bodybg.jpg');
    background-size: 300px;
    background-color: burlywood;
    background-repeat: repeat;
}

// header {
//     margin: 10% 10% 10% 0px;
//     background-color: white;
//     border-radius: 30px 30px 0px 0px;
// }

.site-title {
    font-size: 50px;
}

.container-bg {
    margin: 0px 10% 10% 10%;
    background-color: white;
    border-radius: 30px;
}

.calendar-cell {
    width:14.29%;
    padding-bottom:14.29% !important;
    position: relative;

    .calendar-cell-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5%;
        width: 90%;
        height: 90%;
    }

}
