@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-image: url('../images/bodybg.jpg');
    background-size: 300px;
    background-color: burlywood;
    background-repeat: repeat;
}

.container-h{
    margin: 1% 10% 1% 10%;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
}

.site-title {
    font-size: 50px;
}

.logo {
    // background: url('../images/todo_logo.jpg');
    max-height: 90px;
    height: auto;
    width: auto;
    border-radius: 10%;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
}

.container-bg {
    margin: 0 10% 10% 10%;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
}

.calendar-cell {
    width:14.29%;
    padding-bottom:14.29% !important;
    position: relative;
    overflow-y: auto;

    .calendar-cell-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5%;
        width: 100%;
        height: 100%;

        .calendar-cell-content-day {
            color: lightgrey;
        }
    }

}

.badge {
    white-space: unset;
    margin-top: 5px;

    &.priority-high {
        background-color: #f44336;
        color: #fff;
    }

    &.priority-moderate {
        background-color: #FDD835;
        color: #000;
    }

    &.priority-low {
        background-color: #4CAF50;
        color: #fff;
    }
}

a{
    text-decoration: none;
    color: #000;

    &:hover{
      opacity: 0.5;
      text-decoration: none;
      color: #000;
    }
    &:active{
      opacity: 1;
      text-decoration: none;
      color: #000;
    }
}

.btn-header {
    background-color: #fff;
    border: 1px solid #000;
}


.btn-add-job {
    font-size: 25px;
    text-align: center;
    background-color: #FBC02D;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
